<div class="container">    
  <div class="row mb-3">
    <!--Navegação -->
    <nav class="navbar navbar-expand-lg bg-primary">        
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">SISTEMA WEB</a>                               
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="#">Cadastrar</a>
            </li>            
            <li class="nav-item">
              <a class="nav-link disabled text-white-50" aria-disabled="true">Consultar</a>
            </li>
          </ul>
        </div>
      </div>        
    </nav>
  </div>
  <!-- Container h3-->
  <div class="container">
    <h3><small class="text-black">Cadastrar - Agendamento de Potenciais Clientes</small></h3>
    <p class="text-black">Sistema utilizado para agendamento de serviços</p>
  </div>
  <!-- Tabela -->
  <div class="table-responsive">
    <table class="table">   
      <thead>
        <tr class="table-primary">
          <th scope="col">Nome</th>
          <th scope="col">Telefone</th>
          <th scope="col">Origem</th>
          <th scope="col">Data de contato</th>
          <th scope="col">Data de Observação</th>
        </tr>
      </thead>     
    </table>
</div>
</div>  